.btn__main {
    background-color: transparent;
    color: #222;
    border: 2px solid #222;
    line-height: 47px;
    padding: 0px 32px;
    border-radius: 29px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.5s;
    &:hover {
        background-color: #222;
        color: #fff;
    }
}